.label_usuario /*Victor*/
{
    font-family: verdana;
    font-size: 10px;
    color: #FFF;
    font-weight: bold;
}

a:hover
{
    text-decoration: underline;
}

.label_menu_botao
{
    font-family: verdana;
    font-size: 10px;
}

html
{
    height: 100%;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
    height: 143px;
    width: 647px;
}

p
{
    margin: 0 0 15px 0;
    padding: 0;
}
br
{
    margin: 0;
    padding: 0;
}
img
{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    display: block;
    text-align: left;
}

.chekBoxList
{
    font-family: Verdana;
    font-size: 11px;
    color: #0000FF;
}

.radiobutton
{
    font-family: Verdana;
    font-size: 11px;
    color: #0000FF;
}

.geral
{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.topo
{
    clear: both;
    width: 940px;
    height: 120px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    _overflow: hidden;    
}

.conteudo
{
    position: absolute;
    min-width: 698px;
    min-height: 200px;
    padding: 20px 105px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#divProcessando
{
    background: url(../imagens/aguarde.gif) no-repeat center;
    position: absolute;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: fixed;
}

.label
{
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    margin-right: 5px;
    text-align: left;
}

.label_alerta
{
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    margin-left: 0px;
    color: #FF0000;
}

.label_valor
{
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
    color: #0033CC;
}

.td_formulario
{
    background-color: #4694B8;
    height: 25px;
}

.textbox
{
    border: 1px solid #EAF3F7;
    color: #0000FF;
    font-family: Verdana;
    font-size: 11px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 5px 0;
    text-transform: uppercase;
}

.textbox_usuario
{
    border: 1px solid #000000;
    font-family: Verdana;
    font-size: 11px;
    color: #0000FF;
    margin-bottom: 0px;
    margin-left: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.botao
{
    border: 1px none black;
    font-weight: bold;
    font-size: 9px;
    font-family: verdana;
    width: 130px;
    height: 25px;
    color: #FFFFFF;
    background-color: #006CA3;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.botao:hover
{
    background-color: #008000;
}
.botao:disabled
{
	color: #CDCDCD;
}

.botao_novo
{
    border: 1px none black;
    font-weight: bold;
    font-size: 9px;
    font-family: verdana;
    width: 130px;
    height: 25px;
    color: #FFFFFF;
    background-color: #006CA3;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.botao_novo:hover
{
    background-color: #008000;
}

.botao_pesquisar
{
    border: 1px none black;
    font-weight: bold;
    font-size: 9px;
    font-family: verdana;
    width: 130px;
    background-color: #006CA3;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.botao_pesquisar:hover
{
    background-color: #000;
}

.botao_reiniciar
{
    border: 1px none black;
    font-weight: bold;
    font-size: 9px;
    font-family: verdana;
    width: 130px;
    height: 25px;
    background-color: #006CA3;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.botao_reiniciar:hover
{
    background-color: #000;
}

.botao_proximo
{
    border: 1px none black;
    font-weight: bold;
    font-size: 9px;
    font-family: verdana;
    width: 130px;
    height: 25px;
    color: #FFFFFF;
    background-color: #006CA3;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 3px;
    text-align: center;
}
.botao_proximo:hover
{
    background-color: #008000;
}

.botao_importar
{
    border: 1px none black;
    font-weight: bold;
    font-size: 9px;
    font-family: verdana;
    width: 130px;
    height: 25px;
    color: #FFFFFF;
    background-color: #006CA3;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.botao_importar:hover
{
    background-color: #008000;
}

.botao_cancelar
{
    border: 1px none black;
    font-weight: bold;
    font-size: 9px;
    font-family: verdana;
    width: 130px;
    height: 25px;
    color: #FFFFFF;
    background-color: #006CA3;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.botao_cancelar:hover
{
    background-color: #FF0000;
}

.label_titulo_formulario
{
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.label_subtitulo_formulario
{
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.td_formulario_positivo
{
    background-color: #006CA3;
    height: 25px;
    padding: 0px 0px 0px 15px;
    margin-left: 40px;
    text-align:left;
}

.td_formulario_positivo_script
{
    background-color: #006CA3;
    padding: 0px 0px 0px 15px;
    margin-left: 40px;
    text-align:left;
}

.dropdown
{
    border: 1px solid #000000;
    font-family: Verdana;
    font-size: 11px;
    color: #0000FF;
    margin-left: 0px;
}

.listBox
{
    border: 1px solid #000000;
    font-family: Verdana;
    font-size: 11px;
    color: #0000FF;
    margin-left: 0px;
}

.td_manutencao
{
    height: 30px;
}

.td
{
    background-color: #EAF3F7;
    height: 25px;
    margin-left: 80px;
    text-align: right;
}

.td_script
{
    background-color: #EAF3F7;    
    margin-left: 80px;
    text-align: right;
}

.td_control_script
{
    background-color: #EAF3F7;    
    margin-left: 40px;
    text-align: left;
}

.td_control
{
    background-color: #EAF3F7;
    height: 25px;
    margin-left: 40px;
     text-align: left;
}

.td_label
{
    background-color: #EAF3F7;
    height: 25px;
    margin-left: 40px;
    text-align: right;
}

.link_manutencao
{
    font-size: 12px;
    font-weight: bold;
    color: #7678CB;
    font-family: Tahoma;
    text-decoration: none;
}

.link
{
    color: #000;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.link:hover
{
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #006CA3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
}

.grid_header th
{
	padding: 3px;
	font-size: 10px;
	font-family: verdana;
	background-color: #46B0FA;
	background-position: left;
	color: #fff;
	text-align: left;
	height: 16px;
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	border-left: #999 1px solid;
	border-bottom: #999 1px solid;
	font-weight: bold;
}

.grid_row_selecionado
{
	color: black;
	text-align: left;
	font-size: 9px;
	font-family: verdana;
	background-color: #E5E5E5;
	text-align: left;
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	border-left: #999 1px solid;
	border-bottom: #999 1px solid;	
	height:20px;
}

.grid
{
	color: #666;
	text-align: left;
	font-size: 9px;
	font-family: verdana;
	background-color: #eee;
	text-align: left;
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	border-left: #999 1px solid;
	border-bottom: #999 1px solid;
	height:20px;
}

.grid td
{
	padding: 2px;
	color: #666;
	text-align: left;
	font-size: 9px;
	font-family: verdana;
	background-color: #eee;
	text-align: left;
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	border-left: #999 1px solid;
	border-bottom: #999 1px solid;
	height:20px;
}

.grid > a
{
	color: black;
	text-align: left;
	font-size: 9px;
	font-family: verdana;
	background-color: #EFF3FB;
	text-align: left;
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	border-left: #999 1px solid;
	border-bottom: #999 1px solid;
	height:20px;
}

.grid_alternative_row td
{
	color: #666;
	text-align: left;
	font-size: 9px;
	font-family: verdana;
	background-color: #FFFFFF;
	text-align: left;
	border-right: #999 1px solid;
	border-top: #999 1px solid;
	border-left: #999 1px solid;
	border-bottom: #999 1px solid;
	height:20px;
}

.grid_page a
{
	display: block;
	height: 15px;
	width: 15px;
	background-color: #006C94;
	color: #fff;
	font-weight: bold;
	border: 1px solid #006C94;
	text-align: center;
	text-decoration: none;
}

.grid_page span
{
	display: block;
	height: 15px;
	width: 15px;
	background-color: #fff;
	color: #006C94;
	font-weight: bold;
	border: 1px solid #006C94;
	text-align: center;
	text-decoration: none;
}

.grid_link
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #808080;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}

.label_sumario
{
    font-family: Verdana;
    font-size: 10px;
    font-weight: normal;
    margin-left: 0px;
    color: black;
}

.label_observacao
{
    font-family: Verdana;
    font-size: 10px;
    font-weight: normal;
    margin-left: 0px;
    color: red;
}

.label_numero_linhas
{
    font-family: Verdana;
    font-size: 10px;
    font-weight: normal;
    margin-left: 0px;
    color: #009900;
}

.autocomplete_completionListElement
{
    margin: 0px !important;
    background-color: white;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: auto;
    max-height: 300px;
    text-align: left;
    list-style-type: none;
}

.autocomplete_highlightedListItem
{
    background-color: #c6e6b3;
    color: black;
    padding: 1px;
    margin-left: -35px;
}

.autocomplete_listItem
{
    background-color: window;
    color: windowtext;
    padding: 1px;
    margin-left: -30px;
}

.modalBackground
{
    background-color: #333;
    visibility: visible;
    overflow: hidden;
}

.linkModal
{
    font-size: 11px;
    color: #FF0000;
    font-family: Tahoma;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
}

.fileUpload
{
    border: 1px solid black;
    font-weight: bold;
    font-size: 10px;
    font-family: verdana;
}

#div_aceite
{
    width: 700px;
    height: 490px;
    position: relative;
    font-size: 10px;
    margin: 10px 0px 0px -5px;
    overflow: auto;
    border-bottom: #060 1px solid;
}

.ajax_calendar_container 
{ 
    z-index : 1000 ; 
}